/* CSS Variables & Fallbacks */
:root {
  --main-bg-color: #f0f0f0;
  --fallback-color: #000;
}

body {
  /* Color */
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 1);
  color: #FFF;
  color: hsl(0, 0%, 0%);
  color: hsla(0, 0%, 0%, 1);
  color: orange;
  color: color(srgb 0 0 0 / 1);  /* Still considered new so w3c check fails*/
  color: color-mix(in srgb, red 50%, blue 50%); /* Still considered new so w3c check fails*/
  
  /* Background */
  background-color: var(--main-bg-color, --fallback-color);
  
  /* Unit */
  padding: 1em; /* relative unit */
  width: 100px; /* absolute unit */
  
  /* Box Model */
  margin-top: 10px; 
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 40px;
  padding-top: 10px; 
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
  
  border-style: solid;
  border-color: rgb(112, 112, 63);
  border-width: 1px;
  border-radius: 5px;
  
  /* Text */
  text-decoration:dashed;
  text-align: left;
  
  /* Display */
  display: block;
  
  /* Sizing */
  height: 100vh;
  width: 80%;
  max-width: 1200px;
  min-width: 300px;
  
  /* Position */
  position: relative;
}

.attendance-container {
  margin: 10px 20px 30px 40px; 
  padding-left: 2em;
  display: inline;
}

.agenda-container {
  padding: 10px 20px 30px 40px; 
  margin-left: 1em;
  border: 2px solid #000000;
  position: static;
  width: 80%;
}


/* Layouts */
.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
}

/* Responsiveness */
@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .agenda-container {
    width: 50%;
  }
}

video {
  width: 50%;
}

img {
  width: 50%;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* selectors */
.attendance-container {
  color: blue;
}

#radio1 {
  color: red;
}

* {
  box-sizing: border-box;
}

p {
  color: green;
}

a[target="_blank"] {
  color: purple;
}

p:hover {
  color: orange;
}

h1, h2 {
  color: teal;
}

div p {
  color: brown;
}

div > p {
  color: pink;
}

div ~ p {
  color: cyan;
}

div + p {
  color: lime;
}

div.agenda-container {
  color: maroon;
}

/* New Selectors */
:has(div) {
  color: olive;
}

/* Nested Selectors */
body {
  div {
    color: navy;
  }
}

/* Pseudo-class */
button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #bbb;
}
